<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="common-style.css" library="css" />
	<meta charset="utf-8" />
	<title>eRecepta</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../css/webflow.css" />
	<link rel="stylesheet" type="text/css" href="../css/erecepta.webflow.css" />
	<link rel="shortcut icon" type="image/x-icon"
		href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico" />
	<link rel="apple-touch-icon"
		href="https://y7v4p6k4.ssl.hwcdn.net/51e1a6dc3bc6b24571000014/51e1ba063522c7b57b000061_thumbnail-starter.png" />
</h:head>

<h:body>



	<div class="w-row">
		<div class="w-col w-col-4 left-sidebar">
			<div class="fixed-nav">
				<img class="logo" src="../images/logo-img.png"
					alt="51e1a871bceaf5b67b000052_logo-img.png" /> <a class="nav-link"
					href="../protected/dodajlek.xhtml" target="_self">Dodaj
					Lek</a> <a class="nav-link"
					href="../protected/edytujLekSzukanie.xhtml" target="_self">Edytuj
					Lek</a> <a class="nav-link"
					href="../protected/wystaw_recepte.xhtml" target="_self">Wystaw
					Recepte</a> <a class="nav-link"
					href="../protected/zrealizujRecepteSzukanie.xhtml" target="_self">Zrealizuj
					Recepte</a>
				<div class="italic-text">tralala</div>
				<a class="w-inline-block social-icon" href="#"> <img
					src="../images/8a-social-email.png" width="21px"
					alt="51e1b24abceaf5b67b000053_8a-social-email.png" />
				</a> 
				<a class="w-inline-block social-icon" href="#"> <img
					src="../images/8b-social-facebook.png" width="21px"
					alt="51e1b2893bc6b24571000016_8b-social-facebook.png" />
				</a> 
				<a class="w-inline-block social-icon" href="#" target="_self">
					<img src="../images/8c-social-twitter.png" width="21px"
					alt="51e1b2923bc6b24571000017_8c-social-twitter.png" />
				</a>
			</div>
		</div>
		<div class="w-col w-col-8 content-column">
			<div class="content-block">
				<ui:insert name="content">
					<ui:include src="../template/commonContent.xhtml" />
				</ui:insert>
			</div>
			<div class="footer-section">
				<div class="italic-text footer">(c) Copyright by Crossoftware
					2014</div>
			</div>
		</div>
	</div>
</h:body>
</html>