<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="common-style.css" library="css" />
	<h:outputStylesheet name="../css/normalize.css" library="css" />
	<h:outputStylesheet name="../css/webflow.css" library="css" />
	<h:outputStylesheet name="../css/erecepta.webflow.css" library="css" />
	<meta charset="utf-8" />
	<title>eRecepta</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../css/webflow.css" />
	<link rel="stylesheet" type="text/css" href="../css/erecepta.webflow.css" />
	<link rel="shortcut icon" type="image/x-icon"
		href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico" />
	<link rel="apple-touch-icon"
		href="https://y7v4p6k4.ssl.hwcdn.net/51e1a6dc3bc6b24571000014/51e1ba063522c7b57b000061_thumbnail-starter.png" />
</h:head>

<h:body>



	<div class="w-row">
		<div class="w-col w-col-4 left-sidebar">
			<div class="fixed-nav">
			
				<a href="../public/welcome.xhtml"><img class="logo" src="../images/logo-img.png"
					alt="51e1a871bceaf5b67b000052_logo-img.png" /></a>
				
				<h:form id="menu">
					<h:outputLink id="menuSign" value="#{authorizationBean.signValue}" styleClass="nav-link">#{authorizationBean.signText}</h:outputLink>
					<h:outputLink id="menuDodajLek" value="../protected/dodajlek.xhtml" styleClass="nav-link" rendered="#{authorizationBean.isMZ()}">Dodaj Lek</h:outputLink>
					<h:outputLink id="menuEdytujLek" value="../protected/edytujLekSzukanie.xhtml" styleClass="nav-link" rendered="#{authorizationBean.isMZ()}">Edytuj Lek</h:outputLink>
					<h:outputLink id="menuWystawRecepte" value="../protected/wystaw_recepte.xhtml" styleClass="nav-link" rendered="#{authorizationBean.isLekarz()}">Wystaw Recepte</h:outputLink>
					<h:outputLink id="menuTwojeRecepte" value="../protected/twoje_recepty.xhtml" styleClass="nav-link" rendered="#{authorizationBean.isPacjent()}">Moje Recepty</h:outputLink>
					<h:outputLink id="menuZrealizujRecepte" value="../protected/zrealizujRecepteSzukanie.xhtml" styleClass="nav-link" rendered="#{authorizationBean.isFarmaceuta()}">Zrealizuj Recepte</h:outputLink>
					<h:outputLink id="menuSprawdzRecepte" value="../protected/sprawdzReceptySzukanie.xhtml" styleClass="nav-link" rendered="#{authorizationBean.isLekarz()}">Sprawdz stan recepty</h:outputLink>
					<h:outputLink id="menuEdytujPacjenta" value="../protected/edytujPacjentaSzukanie.xhtml" styleClass="nav-link" rendered="#{authorizationBean.isLekarz()}">Edytuj Pacjenta</h:outputLink>
					<h:outputLink id="menuDodajPacjenta" value="../protected/dodajPacjenta.xhtml" styleClass="nav-link" rendered="#{authorizationBean.isLekarz()}">Dodaj Pacjenta</h:outputLink>
				</h:form>
					
				<div class="italic-text">Portale Społecznościowe</div>
				<a class="w-inline-block social-icon" href="#"> <img
					src="../images/8a-social-email.png" width="21px"
					alt="51e1b24abceaf5b67b000053_8a-social-email.png" />
				</a> 
				<a class="w-inline-block social-icon" href="https://www.facebook.com/"> <img
					src="../images/8b-social-facebook.png" width="21px"
					alt="51e1b2893bc6b24571000016_8b-social-facebook.png" />
				</a> 
				<a class="w-inline-block social-icon" href="https://twitter.com/" target="_self">
					<img src="../images/8c-social-twitter.png" width="21px"
					alt="51e1b2923bc6b24571000017_8c-social-twitter.png" />
				</a>
			</div>
		</div>
		<div class="w-col w-col-8 content-column">
			<div class="content-block">
				<ui:insert name="content">
					<ui:include src="../template/commonContent.xhtml" />
				</ui:insert>
			</div>
			<div class="footer-section">
				<div class="italic-text footer">(c) Copyright by Crossoftware
					2014</div>
			</div>
		</div>
	</div>
</h:body>
</html>