<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
			<h:form>
				<p:fieldset legend="Edytuj pacjenta">
					<h:panelGrid id="formularzPanel"
						columnClasses="column1,column2,column3" columns="3"
						style="width: 100%">
						<h:outputText value="Pesel " style="font-weight:bold" />
						<h:inputText id="pesel" value="#{edytujPacBean.pesel}" size="20"
							required="false" label="pesel"
							validatorMessage="PESEL musi miec 11 cyfr">
							<f:validateLength minimum="11" maximum="11" />
						</h:inputText>
						<h:message for="pesel" style="color:red" />
						
						<h:outputText value="Imię " style="font-weight:bold" />
						<h:inputText id="imie" value="#{edytujPacBean.imie}" size="20"
							required="false" label="imie"
							validatorMessage="Pole nie może mieć więcej niż 20 znaków">
							<f:validateLength minimum="2" maximum="20" />
						</h:inputText>
						<h:message for="imie" style="color:red" />
						
						<h:outputText value="Nazwisko " style="font-weight:bold" />
						<h:inputText id="nazwisko" value="#{edytujPacBean.nazwisko}" size="20"
							required="false" label="nazwisko"
							validatorMessage="Pole nie może mieć więcej niż 20 znaków">
							<f:validateLength minimum="2" maximum="20" />
						</h:inputText>
						<h:message for="imie" style="color:red" />
						
						<p:commandButton id="zatwierdz" value=" Szukaj " update="formularzPanel"
							action="#{edytujPacBean.getAllPac}" />
						<p:button value=" Wróć do strony głównej" outcome="hello" />
					</h:panelGrid>

					<p:dialog header="Bład!" widgetVar="dialogError" modal="true"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
						<h:outputText
							value="Pacjent o wprowadzonych danych nie występuje w bazie danych systemu." />
						<p:button value="OK" onclick="dialogError.hide()" styleClass="itemCenter"/>
						</h:panelGrid>
					</p:dialog>
					
					<p:dialog header="Bład!" widgetVar="dialogError2" modal="true"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
						<h:outputText
							value="Przynajmniej jedno pole musi być uzupełnione." />
						<p:button value="OK" onclick="dialogError.hide()" styleClass="itemCenter"/>
						</h:panelGrid>
					</p:dialog>
					
				</p:fieldset>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>