<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
			<h:form>
				<p:fieldset legend="Edytuj lek">
					<h:panelGrid id="formularzPanel"
						columnClasses="column1,column2,column3" columns="3"
						style="width: 100%">
						<h:outputText value="Nazwa leku: " style="font-weight:bold" />
						<h:inputText id="nazwa"
							value="#{edytujLekBean.selectedLek.nazwaleku}" size="20"
							required="true" label="Nazwa"
							validatorMessage="Nazwa leku ma miec od 1 do 20 znakow"
							requiredMessage="Pole nie moze byc puste">
							<f:validateLength minimum="1" maximum="20" />
						</h:inputText>
						<h:message for="nazwa" style="color:red" />
						
						<h:outputText value="Postac leku: " style="font-weight:bold" />
						<p:selectOneMenu id="mySelectOneMenu" required="true"
							requiredMessage="Wybierz postac leku"
							value="#{edytujLekBean.selectedLek.idpostacileku}"
							effect="fade">
							<f:selectItem itemLabel="Wybierz jeden" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{postacLekuBean.getAllPostacLeku()}"
								var="postac" itemLabel="#{postac.nazwapostacileku}"
								itemValue="#{postac.idpostacileku}" />
						</p:selectOneMenu>

						<h:message for="mySelectOneMenu" style="color:red" />
						<h:outputText value="Sklad leku: " style="font-weight:bold" />
						<h:inputTextarea id="sklad"
							value="#{edytujLekBean.selectedLek.sklad}" cols="20" rows="4"
							required="true" label="Sklad"
							validatorMessage="Sklad leku ma miec od 1 do 40 znakow"
							requiredMessage="Pole nie moze byc puste">
							<f:validateLength minimum="1" maximum="40" />
						</h:inputTextarea>
						<h:message for="sklad" style="color:red" />

						<h:outputText value="Dawka substancji czynnej: "
							style="font-weight:bold" />
						<h:inputText id="dawka"
							value="#{edytujLekBean.selectedLek.dawkasubstancjiczynnej}"
							size="20" required="true" label="Dawka"
							validatorMessage="Dawka leku ma miec od 1 do 10 znakow"
							requiredMessage="Pole nie moze byc puste">
							<f:validateLength minimum="1" maximum="10" />
						</h:inputText>
						<h:message for="dawka" style="color:red" />

						<h:outputText value="Wielkość opakowania: "
							style="font-weight:bold" />
						<h:inputText id="wielkosc"
							value="#{edytujLekBean.selectedLek.wielkoscopakowania}" size="20"
							required="true" label="Wielkosc opakowania"
							validatorMessage="Wielkosc opakowania ma miec od 1 do 20 znakow"
							requiredMessage="Pole nie moze byc puste">
							<f:validateLength minimum="1" maximum="20" />
						</h:inputText>
						<h:message for="wielkosc" style="color:red" />

						<h:outputText value="Cena detaliczna: " style="font-weight:bold" />
						<h:inputText id="cenaDet" binding="#{cenaDetaliczna}"
							value="#{edytujLekBean.selectedLek.cenadetaliczna}" size="20"
							label="CenaDet" required="true"
							validatorMessage="Podaj liczbe z przedziału 0.01 - 10000.0"
							requiredMessage="Pole nie moze byc puste"
							converterMessage="Pole moze zawierac tylko cyfry">
							<f:validateDoubleRange minimum="0.01" maximum="10000.0" />
						</h:inputText>
						<h:message for="cenaDet" style="color:red" />


						<h:outputText value="Cena przy refundacji: "
							style="font-weight:bold" />
						<h:inputText id="cenaRef"
							value="#{edytujLekBean.selectedLek.cenaprzyrefundacji}" size="20"
							required="false" label="CenaRef"
							validatorMessage="Podaj liczbe z przedziału 0.01 - 10000.0 i mniejsza niz cena detaliczna"
							converterMessage="Pole moze zawierac tylko cyfry">
							<f:validateDoubleRange minimum="0.01" maximum="10000.0" />
							<f:validator validatorId="valueComparationValidator" />
							<f:attribute name="cenaDetValue" value="#{cenaDetaliczna.value}" />
						</h:inputText>
						<h:message for="cenaRef" style="color:red" />
						<p:commandButton id="dodaj" value="Zatwierdź zmiany" update="formularzPanel"
							actionListener="#{edytujLekBean.editLek}" />
						<p:button value="Wróć do strony głównej" outcome="hello" />
					</h:panelGrid>


					<p:dialog  widgetVar="dialogSukces" modal="true"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1">
							<h:outputText value="Edycja leku została pomyślnie zakończona." />
							<p:button value="OK" onclick="dialogSukces.hide()"
								styleClass="itemCenter" />
						</h:panelGrid>
					</p:dialog>
					<p:dialog header="Bład!" widgetVar="dialogError" modal="true"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
							<h:outputText
								value="Nie mozna edytować leku gdyz lek po edycji znajduje się juz w bazie danych systemu!" />
							<p:button value="OK" onclick="dialogError.hide()"
								styleClass="itemCenter" />
						</h:panelGrid>
					</p:dialog>
				</p:fieldset>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>