<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
			<h:form>
				<p:fieldset legend="Edytuj karte pacjenta">
					<h:panelGrid id="formularzPanel"
						columnClasses="column1,column2,column3" columns="3"
						style="width: 100%">
						
		
						
							<h:outputText value="Pesel  " style="font-weight:bold" />
							<h:inputText id="pesel" value="#{edytujPacBean.selectedPac.pesel}" size="20"
									required="true" label="PESEL"
									validatorMessage="Pesel musi miec 11 znakow"
									requiredMessage="Pole nie moze byc puste">
									<f:validator validatorId="peselValidator" />
									<f:validateLength minimum="11" maximum="11" />
							</h:inputText>
							<h:message for="pesel" style="color:red" />
							
							<h:outputText value="Imię " style="font-weight:bold" />
							<h:inputText id="imie" value="#{edytujPacBean.selectedPac.imie}" size="20"
									required="true" label="imie"
									validatorMessage="Imie musi sie zawierac w przedziale 2 i 12 znakow"
									requiredMessage="Pole nie moze byc puste">
									<f:validateLength minimum="2" maximum="15" />
							</h:inputText>
							<h:message for="imie" style="color:red" />
							
							<h:outputText value="Nazwisko " style="font-weight:bold" />
							<h:inputText id="nazwisko" value="#{edytujPacBean.selectedPac.nazwisko}" size="20"
									required="true" label="nazwisko"
									validatorMessage="nazwisko musi sie zawierac w przedziale 2 i 20 znakow"
									requiredMessage="Pole nie moze byc puste">
									<f:validateLength minimum="2" maximum="20" />
							</h:inputText>
							<h:message for="nazwisko" style="color:red" />
								
							<h:outputText value="Miejscowość " style="font-weight:bold" />
							<h:inputText id="miejsowosc" value="#{edytujPacBean.selectedPac.miejsowosc}" size="20"
									required="true" label="miejscowosc"
									validatorMessage="nazwa miejscowości nie może być dłuższa niż 50 znaków"
									requiredMessage="Pole nie moze byc puste">
									<f:validateLength minimum="1" maximum = "50" />
							</h:inputText>
							<h:message for="miejsowosc" style="color:red" />
							
							<h:outputText value="Ulica " style="font-weight:bold" />
							<h:inputText id="ulica" value="#{edytujPacBean.selectedPac.ulica}" size="20"
									required="true" label="ulica"
									validatorMessage="nazwa ulicy nie może być dłuższa niż 100 znaków."
									requiredMessage="Pole nie może być puste.">
									<f:validateLength minimum="1" maximum = "100" />
							</h:inputText>
							<h:message for="ulica" style="color:red" />
							
							<h:outputText value="Numer " style="font-weight:bold" />
							<h:inputText id="numer" value="#{edytujPacBean.selectedPac.numer}" size="20"
									required="true" label="ulica"
									validatorMessage="numer nie może być większy niż 999999."
									requiredMessage=" Pole nie może być puste.">
									<f:validateLength minimum="1" maximum = "999999" />
							</h:inputText>
							<h:message for="numer" style="color:red" />		
							
							
							<h:outputText value="Kod pocztowy " style="font-weight:bold" />
							<h:inputText id="kodpocztowy" value="#{edytujPacBean.selectedPac.kodpocztowy}" size="20"
									required="true" label="kodpocztowy"
									validatorMessage="Kod pocztowy składa się z 5 znaków w formacie XX-XXX"
									requiredMessage="Pole nie może być puste.">
									<f:validator validatorId="kodPocztowyValidator" />
									<f:validateLength minimum="5" maximum = "5" />
							</h:inputText>
							<h:message for="kodpocztowy" style="color:red" />	
							
							
							<h:outputText value="Kod oddziału NFZ  " style="font-weight:bold" />
							<h:inputText id="kodnfz" value="#{edytujPacBean.selectedPac.kodnfz}" size="20"
									required="true" label="kodnfz"
									validatorMessage="kod nfz sklada sie z 2 znakow"
									requiredMessage="Pole nie moze byc puste">
									<f:validateLength minimum="2" maximum="2" />
							</h:inputText>
							<h:message for="kodnfz" style="color:red" />
							
							<h:outputText value="koduprawnien: " style="font-weight:bold" />
							<h:inputText id="koduprawnien" value="#{edytujPacBean.selectedPac.koduprawnien}" size="20"
									required="true" label="kodnfz"
									validatorMessage="oznaczenia: IB - inwalida wojenny, IW - inwalida wojskowy, ZK - zasłużony krwiodawca, X - brak uprawnień"
									requiredMessage="Pole nie moze byc puste">
									<f:validateLength minimum="1" maximum = "2" />
									<f:validator validatorId="kodUprawnienValidator" />
							</h:inputText>
							<h:message for="koduprawnien" style="color:red" />
		
						<p:commandButton id="dodaj" value=" Zapisz " update="formularzPanel"
							actionListener="#{edytujPacBean.editPacjent}" />
						<p:button value=" Anuluj " outcome="hello" />
					</h:panelGrid>


					<p:dialog  widgetVar="dialogSukces" modal="true"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1">
							<h:outputText value="Edycja danych pacjenta zakończona pomyślnie." />
							<p:button value="OK" onclick="dialogSukces.hide()"
								styleClass="w-col-medium-8" />
						</h:panelGrid>
					</p:dialog>
					<p:dialog header="Bład!" widgetVar="dialogError" modal="true"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="w-col-medium-8">
							<h:outputText
								value="Nie mozna edytować danych pacjenta gdyż dane pacjenta po edycji znajdują się juz w bazie danych systemu!" />
							<p:button value="OK" onclick="dialogError.hide()"
								styleClass="w-col-medium-8" />
						</h:panelGrid>
					</p:dialog>
				</p:fieldset>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>