<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
			<h:form>
				<p:fieldset legend="Edytuj lek">
					<h:panelGrid id="formularzPanel" style="width: 100%">
						<p:dataTable id="leki" var="element"
							value="#{edytujLekBean.lista}" rowKey="#{element.idleku}"
							selection="#{edytujLekBean.selectedLek}" selectionMode="single"
							paginator="true" rows="10"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15">

							<f:facet name="header">  
            Wybierz lek do edycji  
        </f:facet>

							<p:column headerText="Nazwa">  
            #{element.nazwaleku}  
        </p:column>

							<p:column headerText="Postac leku">  
            #{edytujLekBean.getPostac(element.idpostacileku)}
        </p:column>


							<p:column headerText="Sklad">  
            #{element.sklad}  
        </p:column>

							<p:column headerText="Dawka substancji czynnej">  
            #{element.dawkasubstancjiczynnej}  
        </p:column>

							<p:column headerText="Wielkość opakowania">  
            #{element.wielkoscopakowania}  
        </p:column>

							<p:column headerText="Cena detaliczna">  
            #{element.cenadetaliczna}  
        </p:column>

							<p:column headerText="Cena przy refundacji">  
            #{element.cenaprzyrefundacji}  
        </p:column>
							<f:facet name="footer">
								<p:commandButton id="edytujButton" value="Edytuj"
									action="#{edytujLekBean.zwrocLekDoEdycji()}" />
								<p:button value="Wróć" outcome="hello" />
							</f:facet>

						</p:dataTable>
					</h:panelGrid>
				</p:fieldset>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>