<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
			<h:form>
				<p:fieldset legend="Edytuj lek">
					<h:panelGrid id="formularzPanel"
						columnClasses="column1,column2,column3" columns="3"
						style="width: 100%">
						<h:outputText value="Podaj nazwe leku do edycji: " style="font-weight:bold" />
						<h:inputText id="nazwa" value="#{edytujLekBean.nazwa}" size="20"
							required="true" label="Nazwa"
							validatorMessage="Nazwa leku ma miec od 1 do 20 znakow"
							requiredMessage="Pole nie moze byc puste">
							<f:validateLength minimum="1" maximum="20" />
						</h:inputText>
						<h:message for="nazwa" style="color:red" />
						<p:commandButton id="zatwierdz" value="Zatwierdź" update="formularzPanel"
							action="#{edytujLekBean.getAllLeks}" />
						<p:button value="Wróć" outcome="hello" />
					</h:panelGrid>

					<p:dialog header="Bład!" widgetVar="dialogError" modal="true"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
						<h:outputText
							value="Lek o podanej nazwie nie znajduje się w bazie danych systemu." />
						<p:button value="OK" onclick="dialogError.hide()" styleClass="itemCenter"/>
						</h:panelGrid>
					</p:dialog>
				</p:fieldset>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>