<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
			<h:form>
				<p:fieldset legend=" Wybierz kartę pacjenta do edycji">
					<h:panelGrid id="formularzPanel" style="width: 100%">
						<p:dataTable id="pacjent" var="element"
							value="#{edytujPacBean.lista}" rowKey="#{element.idpacjenta}"
							selection="#{edytujPacBean.selectedPac}" selectionMode="single">

							<f:facet name="header">  
            Wybierz karte do edycji  
        </f:facet>

							<p:column headerText="Pesel">  
            #{element.pesel}  
        </p:column>

							<p:column headerText="Imie">  
            #{element.imie}  
        </p:column>


							<p:column headerText="Nazwisko">  
            #{element.nazwisko}  
        </p:column>

		
							<f:facet name="footer">
								<p:commandButton id="edytujButton" value=" Wybierz "
									action="#{edytujPacBean.zwrocPacDoEdycji()}" />
								<p:button value=" Anuluj " outcome="hello" />
							</f:facet>

						</p:dataTable>
					</h:panelGrid>
				</p:fieldset>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>