<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<h:body>

	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
			<h:form>
				<p:fieldset legend="Sprawdz stan recepty">
					<h:panelGrid id="peselPanel"
						columnClasses="column1,column2,column3" columns="3"
						style="width: 100%">
						<h:outputText value="Wprowadź PESEL pacjenta: " style="font-weight:bold" />
						<h:inputText id="peselText" value="#{sprawdzStanBean.peselText}" size="11"
							required="true" label="Nazwa"
							validatorMessage="PESEL ma 11 znakow"
							requiredMessage="Pole nie moze byc puste">
							<f:validateLength minimum="11" maximum="11" />
						</h:inputText>
						<h:message for="peselText" style="color:red" />
						<p:commandButton id="zatwierdz" value="Zatwierdź" update="peselPanel"
							action="#{sprawdzStanBean.getAllPacjent}" />
						<p:button value="Wróć" outcome="hello" />
					</h:panelGrid>

					<p:dialog header="Bład!" widgetVar="dialogError" modal="true"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
						<h:outputText
							value="Nie ma takiego pacjenta o podanym PESEL-u" />
						<p:button value="OK" onclick="dialogError.hide()" styleClass="itemCenter"/>
						</h:panelGrid>
					</p:dialog>
					
				</p:fieldset>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>