<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<h:body>

	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
		<h:form>
    			<p:fieldset legend="Sprawdz Stan Recepty">
						<p:layoutUnit position="west" resizable="true" size="300" minSize="40" maxSize="200">
							<h:panelGrid columns="2">
									<h:outputText  value="Choroby przewlekłe: " />
        					 		<p:selectBooleanCheckbox value="#{sprawdzStanBean.czyPrzewlekla()}" disabled="true"/>
        					</h:panelGrid>
        					<h3>Dane świadczeniodawcy</h3>
        						<h:panelGrid columns="2">
        							<h:outputText  value="Nazwa ZOZ: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.lekarz.zoz.nazwazoz}" />
        							<h:outputText  value="Adres ZOZ: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.lekarz.zoz.miejsowosc}" />
        							<h:outputText  value="Numer telefonu: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.lekarz.zoz.numer}" />
        							<h:outputText  value="NIP ZOZ: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.lekarz.zoz.nip}" />
        							<h:outputText  value="Regon ZOZ: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.lekarz.zoz.regon}" />
        						</h:panelGrid>
        					<h3>Dane Pacjenta</h3>
        						<h:panelGrid columns="2">
        							<h:outputText  value="Imię: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.pacjent.imie}" />
        							<h:outputText  value="Nazwisko: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.pacjent.nazwisko}" />
        							<h:outputText  value="Adres: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.pacjent.miejsowosc}" />
        							<h:outputText  value="Numer PESEL: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.pacjent.pesel}" />
        							<h:outputText  value="Kod oddziału NFZ: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.pacjent.kodnfz}" />
        							<h:outputText  value="Kod uprawnień: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.pacjent.koduprawnien}" />
        						</h:panelGrid>
        					<h3>Dane Lekarza</h3>
        						<h:panelGrid columns="2">
        							<h:outputText  value="Imię: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.lekarz.imie}" />
        							<h:outputText  value="nazwisko: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.lekarz.nazwisko}" />
        							<h:outputText  value="Specjalizacja: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.lekarz.specjalizacja}" />
        							<h:outputText  value="Numer prawa wykonywania zawodu: " />
        							<h:outputText  value="#{sprawdzStanBean.selectedRecepta.lekarz.numerprawawykzawodu}" />
        						</h:panelGrid>
   						 </p:layoutUnit>

   						 <p:layoutUnit position="center">
      						  <h3>Lista leków</h3>	
      						  <p:dataTable id="leki" var="element"
								value="#{sprawdzStanBean.lekiRecepty}" rowKey="#{element.id}" >					
									<p:column headerText="Nazwa Leku">  
            							#{element.lek.nazwaleku}  
        							</p:column>
        							<p:column headerText="Wielkość Opakowania">  
            							#{element.lek.wielkoscopakowania}  
        							</p:column>
        							<p:column headerText="Postać Leku">  
            							<h:outputText value="#{receptaBean.getNazwaPostaciLeku(twojeReceptyBean.getDaneLeku(element))}" /> 
        							</p:column>
        							<p:column headerText="Dawkowanie">  
            							#{element.dawkowanie}  
        							</p:column>
        							<p:column headerText="Liczba opakowań">  
            							#{element.liczbaopakowan}  
        							</p:column>
        							<p:column headerText="Status">  
        								<p:selectBooleanCheckbox value="#{lek.status}" disabled="true"/>
        							</p:column>
							</p:dataTable>
   						</p:layoutUnit>
   						
   						<h:panelGrid columns="3">
							<p:button id="wrocButton" value="Wróc do listy recept" outcome="sprawdzRecepteWybor"/>
							<p:button id="stronaButton" value="Wróc do strony głównej" outcome="hello"/>
						</h:panelGrid>		
				</p:fieldset>
		</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>