<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<h:body>

	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
		<h:form>
    			<p:fieldset legend="Sprawdź stan Recepty">
					<h:panelGrid id="formularzPanel" style="width: 100%">
					<h2>Wybierz receptę:</h2>						
						<p:dataTable id="recepta" var="element"
							value="#{sprawdzStanBean.recepty}" rowKey="#{element.numerrecepty}"
							selection="#{sprawdzStanBean.selectedRecepta}" selectionMode="single">
													
							<p:column headerText="Numer Recepty" >  
            					#{element.numerrecepty}  
        					</p:column>
        					<p:column headerText="Pacjent imie">  
            					#{element.pacjent.imie}  
        					</p:column>
        					<p:column headerText="Pacjent nazwisko">  
            					#{element.pacjent.nazwisko}  
        					</p:column>
        					<p:column headerText="Nazwa ZOZ">  
            					#{element.lekarz.zoz.nazwazoz}  
        					</p:column>
        					<p:column headerText="Liczba Leków">  
            					<h:outputText value="#{sprawdzStanBean.getLiczbaLekow(element)}" />
        					</p:column>
        					<p:column headerText="Data wystawienia">  
            					#{element.datawystawieniarecepty}  
        					</p:column>
        					<p:column headerText="Data realizacji">  
        					   #{element.dataRealizacji}
        					</p:column>
							<f:facet name="footer">
								<p:commandButton value="Szczegóły" action = "#{sprawdzStanBean.szczegolyRecepty()}" />
								<p:button value="Wróć do strony głównej" outcome="hello" />
							</f:facet>

						</p:dataTable>
					</h:panelGrid>
					
				</p:fieldset>
		</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>