<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>

	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
			<h:form id="szczegolyReceptyForm">
				<p:fieldset legend="Dane szczegółowe recepty">
				
					<h:panelGrid columns="2" style="margin-bottom:10px" >
			
				        <h:outputText value="Choroba przewlekła" />
				        <p:selectBooleanCheckbox value="#{twojeReceptyBean.czyPrzewlekla()}" disabled="true"/>
			
			    	</h:panelGrid>
			    	
			    	<h:outputLabel value="Dane świadczeniodawcy:" style="font-weight:bold" />
			    	
			    	<h:panelGrid columns="2" style="margin-bottom:10px" >
			
				        <h:outputLabel for="nazwaZOZ" value="Nazwa ZOZ:" style="font-weight:normal" />
						<h:outputLabel id="nazwaZOZ" value="#{twojeReceptyBean.zoz.nazwazoz}" style="font-weight:normal" />
						
						<h:outputLabel for="adresZOZ" value="Adres ZOZ:" style="font-weight:normal" />
						<h:outputLabel id="adresZOZ" value="#{twojeReceptyBean.adresZoz}" style="font-weight:normal" />
						
						<h:outputLabel for="numerTelefonu" value="Numer telefonu:" style="font-weight:normal" />
						<h:outputLabel id="numerTelefonu" value="#{twojeReceptyBean.zoz.telefonstacjonarny}" style="font-weight:normal" />
						
						<h:outputLabel for="nipZOZ" value="NIP ZOZ:" style="font-weight:normal" />
						<h:outputLabel id="nipZOZ" value="#{twojeReceptyBean.zoz.nip}" style="font-weight:normal" />
						
						<h:outputLabel for="regonZOZ" value="Regon ZOZ:" style="font-weight:normal" />
						<h:outputLabel id="regonZOZ" value="#{twojeReceptyBean.zoz.regon}" style="font-weight:normal" />
			
			    	</h:panelGrid>
			    	
			    	<h:outputLabel value="Dane pacjenta:" style="font-weight:bold" />
			    	
			    	<h:panelGrid columns="2" style="margin-bottom:10px" >
			
				        <h:outputLabel for="imiePacjenta" value="Imię:" style="font-weight:normal" />
						<h:outputLabel id="imiePacjenta" value="#{twojeReceptyBean.pacjent.imie}" style="font-weight:normal" />
						
						<h:outputLabel for="nazwiskoPacjenta" value="Nazwisko:" style="font-weight:normal" />
						<h:outputLabel id="nazwiskoPacjenta" value="#{twojeReceptyBean.pacjent.nazwisko}" style="font-weight:normal" />
						
						<h:outputLabel for="adresPacjenta" value="Adres:" style="font-weight:normal" />
						<h:outputLabel id="adresPacjenta" value="#{twojeReceptyBean.adresPacjent}" style="font-weight:normal" />
						
						<h:outputLabel for="peselPacjenta" value="Numer PESEL:" style="font-weight:normal" />
						<h:outputLabel id="peselPacjenta" value="#{twojeReceptyBean.pacjent.pesel}" style="font-weight:normal" />
						
						<h:outputLabel for="kodNFZ" value="Kod oddziału NFZ:" style="font-weight:normal" />
						<h:outputLabel id="kodNFZ" value="#{twojeReceptyBean.pacjent.kodnfz}" style="font-weight:normal" />
						
						<h:outputLabel for="kodUprawnien" value="Kod uprawnień:" style="font-weight:normal" />
						<h:outputLabel id="kodUprawnien" value="#{twojeReceptyBean.pacjent.koduprawnien}" style="font-weight:normal" />
			
			    	</h:panelGrid>
			    	
			    	<h:outputLabel value="Dane lekarza" style="font-weight:bold" />
			    	
			    	<h:panelGrid columns="2" style="margin-bottom:10px" >
			
				        <h:outputLabel for="imieLekarza" value="Imię:" style="font-weight:normal" />
						<h:outputLabel id="imieLekarza" value="#{twojeReceptyBean.lekarz.imie}" style="font-weight:normal" />
						
						<h:outputLabel for="nazwiskoLekarza" value="Nazwisko:" style="font-weight:normal" />
						<h:outputLabel id="nazwiskoLekarza" value="#{twojeReceptyBean.lekarz.nazwisko}" style="font-weight:normal" />
						
						<h:outputLabel for="specjalizacja" value="Specjalizacja:" style="font-weight:normal" />
						<h:outputLabel id="specjalizacja" value="#{twojeReceptyBean.lekarz.specjalizacja}" style="font-weight:normal" />
						
						<h:outputLabel for="numerPrawa" value="Numer prawa wykonywania zawodu:" style="font-weight:normal" />
						<h:outputLabel id="numerPrawa" value="#{twojeReceptyBean.lekarz.numerprawawykzawodu}" style="font-weight:normal" />
			
			    	</h:panelGrid>
			    	
			    	<h:outputLabel value="Lista leków:" style="font-weight:bold" />
				
					<p:dataTable id="listaLekow" var="lek" value="#{twojeReceptyBean.leki}" >
						
						<p:ajax event="rowSelect" listener="#{twojeReceptyBean.wyswietlSzczegolyLeku()}" />
						
				        <p:column headerText="Nazwa leku">
				            <h:outputText value="#{twojeReceptyBean.getDaneLeku(lek).nazwaleku}" />
				        </p:column>
				
				        <p:column headerText="Postać leku">
				            <h:outputText value="#{receptaBean.getNazwaPostaciLeku(twojeReceptyBean.getDaneLeku(lek))}" />
				        </p:column>
				
				        <p:column headerText="Wielkość opakowania">
				            <h:outputText value="#{twojeReceptyBean.getDaneLeku(lek).wielkoscopakowania}" />
				        </p:column>
				
				        <p:column headerText="Dawkowanie">
				            <h:outputText value="#{lek.dawkowanie}" />
				        </p:column>
				        
				        <p:column headerText="Liczba opakowań">
				            <h:outputText value="#{lek.liczbaopakowan}" />
				        </p:column>
				        
				        <p:column headerText="Status">
				            <p:selectBooleanCheckbox value="#{lek.status}" disabled="true"/>
				        </p:column>
				        
				        <p:column>
				        	<p:outputPanel id="info">
				        		<p:commandButton value="i" action="#{twojeReceptyBean.wyswietlSzczegolyLeku()}"
				        			update=":szczegolyReceptyForm:dialogDaneLeku" >
				        			<f:setPropertyActionListener value="#{lek}"  
		                    			target="#{twojeReceptyBean.aktywnyLek}" />
				        		</p:commandButton>
				        	</p:outputPanel>
				        </p:column>
				        
				    </p:dataTable>
				    
				    <br/>
			    	<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
			    		<p:button value="Wróć do listy recept" outcome="twoje_recepty" />
			    		<p:button value="Wróć do strony głównej" outcome="hello" />
			    	</h:panelGrid>
			    	
			    	<p:dialog id="dialogDaneLeku" header="Szczegółowe dane leku" widgetVar="dialogDaneLeku" modal="true"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="2" styleClass="itemCenter">
							
							<h:outputLabel for="nazwaLeku" value="Nazwa leku:" style="font-weight:normal" />
							<h:outputLabel id="nazwaLeku" value="#{twojeReceptyBean.nazwaLeku}" style="font-weight:normal" />
							
							<h:outputLabel for="skladLeku" value="Skład leku:" style="font-weight:normal" />
							<h:outputLabel id="skladLeku" value="#{twojeReceptyBean.skladLeku}" style="font-weight:normal" />
							
							<h:outputLabel for="postacLeku" value="Postać leku:" style="font-weight:normal" />
							<h:outputLabel id="postacLeku" value="#{twojeReceptyBean.postacLeku}" style="font-weight:normal" />
							
							<h:outputLabel for="dawkaSub" value="Dawka substancji czynnej:" style="font-weight:normal" />
							<h:outputLabel id="dawkaSub" value="#{twojeReceptyBean.dawkaSubs}" style="font-weight:normal" />
							
							<h:outputLabel for="wielkosc" value="Wielkość opakowania:" style="font-weight:normal" />
							<h:outputLabel id="wielkosc" value="#{twojeReceptyBean.wielkosc}" style="font-weight:normal" />
							
							<h:outputLabel for="cenaDetal" value="Cena detaliczna:" style="font-weight:normal" />
							<h:outputLabel id="cenaDetal" value="#{twojeReceptyBean.cenaDetal}" style="font-weight:normal" />
							
							<h:outputLabel for="cenaRef" value="Cena przy refundacji:" style="font-weight:normal" />
							<h:outputLabel id="cenaRef" value="#{twojeReceptyBean.cenaRef}" style="font-weight:normal" />
							
						</h:panelGrid>
						<p:button value="OK" onclick="dialogDaneLeku.hide()" styleClass="itemCenter"/>
					</p:dialog>
				
				</p:fieldset>
			</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>