<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>

	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
			<h:form id="twojeReceptyForm">
				<p:fieldset legend="Twoje recepty">
				
					<p:dataTable id="listaRecept" var="recepta" value="#{twojeReceptyBean.receptyPacjenta}">
				        <p:column headerText="Numer recepty">
				            <h:outputText value="#{recepta.numerrecepty}" />
				        </p:column>
				
				        <p:column headerText="Imię pacjenta">
				            <h:outputText value="#{recepta.pacjent.imie}" />
				        </p:column>
				
				        <p:column headerText="Nazwisko pacjenta">
				            <h:outputText value="#{recepta.pacjent.nazwisko}" />
				        </p:column>
				
				        <p:column headerText="Nazwa ZOZ">
				            <h:outputText value="#{twojeReceptyBean.getZozName(recepta.lekarz)}" />
				        </p:column>
				        
				        <p:column headerText="Liczba leków">
				            <h:outputText value="#{twojeReceptyBean.getLiczbaLekow(recepta)}" />
				        </p:column>
				        
				        <p:column headerText="Data wystawienia">
				            <h:outputText value="#{recepta.datawystawieniarecepty}" />
				        </p:column>
				        
				        <p:column headerText="Status realizacji">
				            <h:outputText value="#{twojeReceptyBean.czyZrealizowana(recepta)}" />
				        </p:column>
				        
				        <p:column>
				        	<p:outputPanel id="info">
				        		<p:commandButton value="i" action="szczegoly_recepty" >
				        			<f:setPropertyActionListener value="#{recepta}"  
		                    			target="#{twojeReceptyBean.aktywnaRecepta}" />
				        		</p:commandButton>
				        	</p:outputPanel>
				        </p:column>
				        
				    </p:dataTable>
				    
				    <br/>
			    	<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
			    		<p:button value="Wróć do strony głównej" outcome="hello" />
			    	</h:panelGrid>
			    	
			    	<p:dialog widgetVar="dialogBrakRecept" modal="true"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
						<h:outputText
							value="Nie masz żadnych recept w swojej historii." />
						<p:button value="OK" onclick="dialogBrakRecept.hide()" styleClass="itemCenter"/>
						</h:panelGrid>
					</p:dialog>
				
				</p:fieldset>
			</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>