<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>

	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
			<h:form id="wystawRecepteForm">
				<p:fieldset legend="Wystaw receptę">
				
					<h:panelGrid id="lekPanel" columns="2" cellpadding="5">
						<h:outputLabel for="pesel" value="Pesel" style="font-weight:bold" />
						<p:inputText id="pesel" value="#{receptaBean.pesel}" />
						<h:outputLabel for="date" value="Nazwa leku" style="font-weight:bold" />
						<p:autoComplete value="#{receptaBean.nazwaLeku}"
							completeMethod="#{lekBean.pobierzLekiRozpoczynajaceSieOd}">
							<f:ajax event="change" execute="@this" render="postacieLeku wielkosciOpakowania liczba dawkowanie" listener="#{receptaBean.getAllPostacLekuForNazwaLeku()}"/>
							<f:ajax event="itemSelect" execute="@this" render="postacieLeku wielkosciOpakowania liczba dawkowanie" listener="#{receptaBean.getAllPostacLekuForNazwaLeku()}"/>
							<f:ajax event="itemUnselect" execute="@this" render="postacieLeku wielkosciOpakowania liczba dawkowanie" listener="#{receptaBean.getAllPostacLekuForNazwaLeku()}"/>
						</p:autoComplete>
						<h:outputLabel for="postac" value="Postać leku" style="font-weight:bold" />
						<p:selectOneMenu id="postacieLeku" value="#{receptaBean.idPostaciLeku}">
							<f:selectItem itemLabel="wybierz" itemValue="#{null}"
											noSelectionOption="true" />
			            	<f:selectItems value="#{receptaBean.postacieLeku}"
											var="postac" itemLabel="#{postac.nazwapostacileku}"
											itemValue="#{postac.idpostacileku}" />
							<p:growl autoUpdate="true" />
							<p:ajax event="change" update="wielkosciOpakowania" listener="#{receptaBean.getAllWielkosciOpakowaniaForPostacLeku()}" />
			        	</p:selectOneMenu>
			        	<h:outputLabel for="wielkosc" value="Wielkość opakowania" style="font-weight:bold" />
						<p:selectOneMenu id="wielkosciOpakowania" value="#{receptaBean.wielkoscOpakowania}">
							<f:selectItem itemLabel="wybierz" itemValue="#{null}"
											noSelectionOption="true" />
			            	<f:selectItems value="#{receptaBean.wielkosciOpakowania}"
											var="wielkosc" itemLabel="#{wielkosc}"
											itemValue="#{wielkosc}" />
							<p:growl autoUpdate="true" />
			        	</p:selectOneMenu>
						<h:outputLabel for="liczba" value="Liczba opakowań" style="font-weight:bold" />
						<p:inputText id="liczba" value="#{receptaBean.liczbaOpakowan}" />
						<h:outputLabel for="dawkowanie" value="Dawkowanie" style="font-weight:bold" />
						<p:inputText id="dawkowanie" value="#{receptaBean.dawkowanie}" />
					</h:panelGrid>
					<p:commandButton id="btnDodajLek" value="Dodaj lek" disabled="#{receptaBean.maxLekow}" update="listaLekow,@this" actionListener="#{receptaBean.dodajLek()}" />
					<br/><br/>
					    <p:dataTable id="listaLekow" var="lek" value="#{receptaBean.leki}">
					        <p:column headerText="Nazwa leku">
					            <h:outputText value="#{lek.lek.nazwaleku}" />
					        </p:column>
					
					        <p:column headerText="Postać leku">
					            <h:outputText value="#{receptaBean.getNazwaPostaciLeku(lek.lek)}" />
					        </p:column>
					
					        <p:column headerText="Wielkość opakowania">
					            <h:outputText value="#{lek.lek.wielkoscopakowania}" />
					        </p:column>
					
					        <p:column headerText="Liczba opakowań">
					            <h:outputText value="#{lek.liczbaopakowan}" />
					        </p:column>
					        
					        <p:column headerText="Dawkowanie">
					            <h:outputText value="#{lek.dawkowanie}" />
					            
					        </p:column>
					        
					        <p:column>
					        	<p:outputPanel id="delete">
					        		<p:commandButton value="Usuń" action="#{receptaBean.usunLek()}" update="listaLekow,:wystawRecepteForm:btnDodajLek">
					        			<f:setPropertyActionListener value="#{lek}"  
			                    			target="#{receptaBean.aktywnyLek}" />  
					        		</p:commandButton>
					        	</p:outputPanel>
					        </p:column>
					        
					    </p:dataTable>
					<br/>
					<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
			
				        <h:outputText value="Choroba przewlekła" />
				        <p:selectBooleanCheckbox value="#{receptaBean.chorobaprzewlekla}" />
			
			    	</h:panelGrid>
			    	<br/>
			    	<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
			    		<p:commandButton value="Wystaw receptę" action="#{receptaBean.addRecepta()}"/>
			    		<p:button value="Wróć do strony głównej" outcome="hello" />
			    	</h:panelGrid>
			    	
			    	<p:dialog header="Błąd!" widgetVar="dialogWrongPesel" modal="true"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
						<h:outputText
							value="Pacjent o podanym numerze PESEL nie występuje w bazie danych!" />
						<p:button value="OK" onclick="dialogWrongPesel.hide()" styleClass="itemCenter"/>
						</h:panelGrid>
					</p:dialog>
					
					<p:dialog header="Błąd!" widgetVar="dialogWrongNumber" modal="true"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
						<h:outputText
							value="Liczba opakowań musi być liczbą dodatnią" />
						<p:button value="OK" onclick="dialogWrongNumber.hide()" styleClass="itemCenter"/>
						</h:panelGrid>
					</p:dialog>
					
					<p:dialog widgetVar="dialogReceptaWystawiona" modal="true"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
						<h:outputText
							value="Recepta została pomyślnie wystawiona" />
						<p:button value="OK" action="dialogReceptaWystawiona.hide()" styleClass="itemCenter" outcome="#{receptaBean.refresh()}"/>
						</h:panelGrid>
					</p:dialog>
				
				</p:fieldset>
			</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>