<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<h:body>
	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
		<h:form>
    			<p:fieldset legend="Realizuj Recepte">
					<h:panelGrid id="formularzPanel" style="width: 100%">
					
					  
						<p:dataTable id="receptaTAB" var="element"
							value="#{zrealizujRecepteBean.receptaNiezrealizowane}" rowKey="#{element.numerrecepty}"
							selection="#{zrealizujRecepteBean.selectedRecepta}" selectionMode="single" >
														
							<p:column headerText="Numer Recepty">  
            					#{element.numerrecepty}  
        					</p:column>
        					<p:column headerText="Pacjent imie">  
            					#{element.pacjent.imie}  
        					</p:column>
        					<p:column headerText="Pacjent nazwisko">  
            					#{element.pacjent.nazwisko}  
        					</p:column>
        					<p:column headerText="Nazwa ZOZ">  
            					#{element.lekarz.zoz.nazwazoz}  
        					</p:column>
        					<p:column headerText="Liczba leków">  
            					<h:outputText value="#{zrealizujRecepteBean.getLiczbaLekow(element)}" /> 
        					</p:column>
        					<p:column headerText="Data wystawienia">  
            					#{element.datawystawieniarecepty}  
        					</p:column>
        					
							<f:facet name="footer">
								<p:commandButton id="realizujButton" value="Realizuj Recepte" action = "#{zrealizujRecepteBean.szczegolyRecepty()}" />
								<p:button value="Wróć do strony głównej" outcome="zrealizujRecepteSzukanie" />
								<!-- <p:commandButton id="odswiezButton" value="Odśwież" action = "#{zrealizujRecepteBean.getAllRecepty()}" update="receptaTAB" /> -->
							</f:facet>

						</p:dataTable>
					</h:panelGrid>
					
					<p:dialog header="Zrealizowano recepte!" widgetVar="dialogSucces" modal="true"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
						<h:outputText
							value="Pomyślnie zrealizowano recepte" />
						<p:button value="OK" onclick="dialogSucces.hide()" styleClass="itemCenter"/>
						</h:panelGrid>
					</p:dialog>
					
					<p:dialog header="Błąd!" widgetVar="dialogBlad" 
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
						<h:outputText
							value="Pacjent nie posiada recept do zrealizowania" />
						<p:button value="OK" onclick="dialogBlad.hide()" styleClass="itemCenter"/>
						</h:panelGrid>
					</p:dialog>
					
					<p:dialog header="Sukces!" widgetVar="dialogSukces" 
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
						<h:outputText
							value="Pacjent posiada niezrealizowane recepty" />
						<p:button value="OK" onclick="dialogSukces.hide()" styleClass="itemCenter"/>
						</h:panelGrid>
					</p:dialog>
					
					
					<p:dialog header="Error!" widgetVar="dialogError" showEffect="explode"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
						<h:outputText value="Nie wybrałeś recepty" />
						<p:button value="OK" onclick="dialogError.hide()" styleClass="itemCenter"/>
						</h:panelGrid>
					</p:dialog>
					
					<p:dialog header="Błąd!" widgetVar="dialogBrakRecept" showEffect="explode"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
						<h:outputText value="Błąd Pacjent o podanym numerze PESEL nie ma żadnych możliwych do realizacji recept." />
						<p:button value="OK" onclick="dialogError.hide()" styleClass="itemCenter"/>
						</h:panelGrid>
					</p:dialog>  
					
				</p:fieldset>
		</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>