<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<h:body>

	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
		<h:form>
    			<p:fieldset legend="Realizuj Recepte">
						<p:layoutUnit position="west" resizable="true" size="300" minSize="40" maxSize="200">
						<h:panelGrid columns="2">
									<h:outputText  value="Choroby przewlekłe: " />
        					 		<p:selectBooleanCheckbox value="#{zrealizujRecepteBean.czyPrzewlekla()}" disabled="true"/>
        					</h:panelGrid>
        					<h3>Dane świadczeniodawcy</h3>
        						<h:panelGrid columns="2">
        							<h:outputText  value="Nazwa ZOZ: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.lekarz.zoz.nazwazoz}" />
        							<h:outputText  value="Adres ZOZ: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.lekarz.zoz.miejsowosc}" />
        							<h:outputText  value="Numer telefonu: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.lekarz.zoz.numer}" />
        							<h:outputText  value="NIP ZOZ: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.lekarz.zoz.nip}" />
        							<h:outputText  value="Regon ZOZ: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.lekarz.zoz.regon}" />
        						</h:panelGrid>
        					<h3>Dane Pacjenta</h3>
        						<h:panelGrid columns="2">
        							<h:outputText  value="Imię: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.pacjent.imie}" />
        							<h:outputText  value="Nazwisko: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.pacjent.nazwisko}" />
        							<h:outputText  value="Adres: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.pacjent.miejsowosc}" />
        							<h:outputText  value="Numer PESEL: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.pacjent.pesel}" />
        							<h:outputText  value="Kod oddziału NFZ: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.pacjent.kodnfz}" />
        							<h:outputText  value="Kod uprawnień: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.pacjent.koduprawnien}" />
        						</h:panelGrid>
        					<h3>Dane Lekarza</h3>
        						<h:panelGrid columns="2">
        							<h:outputText  value="Imię: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.lekarz.imie}" />
        							<h:outputText  value="nazwisko: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.lekarz.nazwisko}" />
        							<h:outputText  value="Specjalizacja: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.lekarz.specjalizacja}" />
        							<h:outputText  value="Numer prawa wykonywania zawodu: " />
        							<h:outputText  value="#{zrealizujRecepteBean.selectedRecepta.lekarz.numerprawawykzawodu}" />
        						</h:panelGrid>
   						 </p:layoutUnit>

   						 <p:layoutUnit position="center">
      						  <h3>Lista leków</h3>	
      						  <p:dataTable id="leki" var="element"
								value="#{zrealizujRecepteBean.lekiRecepty}" rowKey="#{element.id}" selectionMode="multi"
								selection="#{zrealizujRecepteBean.selectedLeki}">					
									<p:column headerText="Nazwa Leku">  
            							#{element.lek.nazwaleku}  
        							</p:column>
        							<p:column headerText="Postać Leku">  
            							<h:outputText value="#{receptaBean.getNazwaPostaciLeku(twojeReceptyBean.getDaneLeku(element))}" /> 
        							</p:column>
        							<p:column headerText="Wielkość Opakowania">  
            							#{element.lek.wielkoscopakowania}  
        							</p:column>
        							<p:column headerText="Dawkowanie">  
            							#{element.dawkowanie}  
        							</p:column>
        							<p:column headerText="Liczba opakowań">  
            							#{element.liczbaopakowan}  
        							</p:column>
        							<p:column headerText="Staus">  
        								<p:selectBooleanCheckbox value="#{element.status}" disabled="true"/>
        							</p:column>
							</p:dataTable>
   						</p:layoutUnit>
   						
   						<h:panelGrid columns="3">
   							<p:commandButton id="realizujButton" value="Reazlizuj Recepte" actionListener = "#{zrealizujRecepteBean.realizujRecepte()}" update = "leki"/>
							<p:commandButton id="wrocButton" value="Wróc do listy recept" action="#{zrealizujRecepteBean.wrocDoListy()}"/>
							<p:commandButton id="stronaButton" value="Wróc do strony głównej" action = "#{zrealizujRecepteBean.wrocDoGlownej()}"/>
						</h:panelGrid>	
						
						<p:dialog header="Aktualizacja!" widgetVar="aktualizacjaLekow" showEffect="explode"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
							<h:outputText value="Realizacja recepty w podanym zakresie przebiegła pomyślnie" />
							<p:button value="OK" onclick="aktualizacjaLekow.hide()" styleClass="itemCenter"/>
						</h:panelGrid>
						</p:dialog>	
						
						<p:dialog header="Błąd!" widgetVar="bladWybrania" showEffect="explode"
						appendTo="@(body)" styleClass="disable-scroll">
						<h:panelGrid columns="1" styleClass="itemCenter">
							<h:outputText value="Wybrałeś nie właściwe leki" />
							<p:button value="OK" onclick="bladWybrania.hide()" styleClass="itemCenter"/>
						</h:panelGrid>
						</p:dialog>	
						
				</p:fieldset>
		</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>