<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:body>
    	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
			<h:form> 
				<h3>Niepoprawna nazwa użytkownika lub hasło</h3>
				<table>
					<tr>
						<td>Nazwa:</td>
						<td><h:inputText value="#{authorizationBean.thisUser.login}" /></td>
					</tr>
					<tr>
						<td>Hasło:</td>
						<td><h:inputSecret value="#{authorizationBean.thisUser.haslo}" /></td>
					</tr>
				</table>
				<p>
					<h:commandButton value="Zaloguj" action="#{authorizationBean.login}" />
				</p>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>