<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="../template/commonLayout.xhtml">
		<ui:define name="content">
			<h:form>
				<h2>WITAMY W SYSTEMI E-RECEPTA</h2>
				<h3>Po lewej stronie znajduje się menu które ułatwi Ci nawigację w naszym serwisie</h3>
				<!-- <a href="login.xhtml">Zaloguj</a> -->
				<img src="../images/orangePill.png"/>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>